table{
  border: thin solid #000000;
  width: 50%;
}
td,th{
  border: thin solid #000000;
  width: 50%;
}
th{
  background-color: #a1a0a0;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #CCC;
  
}

.active {
  background-color: #4CAF50;
  color: white;
}
